<a href="https://colab.research.google.com/github/data-x-sp19/EVAC/blob/master/Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
cd gdrive/My Drive/Data X (Spring 2019)

/content/gdrive/My Drive/Data X (Spring 2019)

In [0]:
import pandas as pd
import gspread
from gspread_dataframe import get_as_dataframe, set_with_dataframe
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [4]:
spreadsheet = gc.open("DataFrame Layout")
sheet = spreadsheet.get_worksheet(1)
data = pd.DataFrame(sheet.get_all_values())
data.columns = data.iloc[0]
data = data.reindex(data.index.drop(0))
data = data.convert_objects(convert_numeric=True)
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

,Latitude (X),Longitude (Y),POI_TYPE,Pop_Den,Cam_Present,Tornado Distance,Tornado Magnitude,Classification (Output),Prediction,,,,
1,40.057068,-82.885518,2,5597.148387,0,12.6,2,1,0,0,Ratio of right predictions,,
2,39.974166,-83.028720,2,1595.315173,1,5.5,3,1,1,1,Test,Training,Combined
3,39.963572,-83.002500,1,2293.418377,1,5.5,3,1,1,1,73.42%,92.41%,82.91%
4,39.975215,-83.006780,2,8978.701876,1,5.5,3,1,1,1,,,
5,40.073967,-83.131485,2,3753.776372,0,13.1,2,1,0,0,,,
6,39.972424,-82.904900,2,5786.394916,1,5.5,3,1,1,1,,,
7,39.928299,-83.089981,2,3089.334200,1,5.2,3,1,1,1,,,
8,40.020989,-83.061440,0,3286.357958,0,13.1,2,1,0,0,,,
9,39.954532,-82.877042,2,4466.053029,1,5.5,3,1,1,1,,,
10,39.888206,-82.885900,2,2479.687276,0,18.3,3,1,0,0,,,
11,40.051822,-83.047551,2,8743.921438,0,13.1,2,1,0,0,,,
12,40.060183,-82.905527,2,2667.680378,0,12.6,2,1,0,0,,,
13,40.048983,-82.913168,2,402.077235,1,12.6,2,1,1,1,,,
14,40.006040,-83.014194,2,15838.073420,1,5.5,3,1,1,1,,,
15,39.993152,-83.015844,2,15668.045000,1,5.5,3,1,1,1,,,
16,39.994242,-83.005445,2,19315.493410,1,5.5,3,1,1,1,,,
17,39.997764,-83.032384,0,768.958152,1,0.0,0,1,1,1,,,
18,39.997845,-83.032384,0,768.958152,1,0.0,0,1,1,1,,,
19,39.970589,-83.002668,2,2293.418377,1,5.5,3,1,1,1,,,
20,39.966683,-83.015800,2,3667.444627,1,5.5,3,1,1,1,,,
21,39.972066,-82.905333,2,5786.394916,1,5.5,3,1,1,1,,,
22,39.985017,-82.870525,2,905.728585,0,5.5,3,1,0,0,,,
23,40.049820,-82.914545,2,402.077235,1,12.6,2,1,1,1,,,
24,40.057195,-82.927865,2,6425.167231,1,0.0,0,1,1,1,,,
25,39.975580,-83.003724,2,8978.701876,1,5.5,3,1,1,1,,,
26,39.926479,-83.123901,2,821.162612,0,5.2,3,1,0,0,,,
27,39.994240,-82.943837,2,856.879046,1,5.5,3,1,1,1,,,
28,39.994649,-82.942193,1,856.879046,1,5.5,3,1,1,1,,,
29,39.979320,-83.002931,2,6861.420709,1,5.5,3,1,1,1,,,
30,40.088908,-83.000372,2,1099.410207,0,13.1,2,1,0,0,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,40.018184,-83.071847,2,5372.035980,0,13.1,2,0,0,0,,,
130,40.060576,-83.023212,2,3409.037280,0,13.1,2,0,0,0,,,
131,40.009621,-82.869083,2,2564.046210,0,5.5,3,0,0,0,,,
132,39.877877,-82.865966,2,967.179051,0,18.3,3,0,0,0,,,
133,39.826631,-82.808236,2,1629.137860,0,18.3,3,0,0,0,,,
134,39.860738,-82.869974,2,891.681740,0,18.3,3,0,0,0,,,
135,39.875049,-83.141117,2,213.091539,0,5.2,3,0,0,0,,,
136,39.950289,-83.095087,2,4761.036570,0,13.1,2,0,0,0,,,
137,40.047799,-82.912200,2,402.077235,0,12.6,2,0,0,0,,,
138,39.926096,-83.176724,1,231.351904,0,5.2,3,0,0,0,,,
139,40.017140,-83.173911,1,1685.831720,0,13.1,2,0,0,0,,,
140,39.844279,-82.894839,2,1189.748040,0,18.3,3,0,0,0,,,
141,40.146644,-82.812257,2,176.616850,0,15.2,2,0,0,0,,,
142,39.914522,-82.973060,2,801.736209,0,5.5,3,0,0,0,,,
143,39.897963,-82.876167,2,2672.683990,0,18.3,3,0,0,0,,,
144,40.105927,-82.975882,2,13784.718500,0,0.0,0,0,0,0,,,
145,40.130591,-82.961401,2,3326.292480,0,0.0,0,0,1,1,,,
146,40.040057,-83.000694,0,6208.736140,0,0.0,0,0,0,0,,,
147,40.005192,-82.831487,0,1073.167430,0,5.5,3,0,0,0,,,
148,39.976602,-83.152131,2,4927.114440,0,5.2,3,0,0,0,,,
149,39.992017,-83.008430,2,29634.631500,1,5.5,3,0,1,1,,,
150,40.138134,-82.802153,2,176.616850,0,15.2,2,0,0,0,,,
151,39.901904,-82.872714,2,2672.683990,0,18.3,3,0,0,0,,,
152,40.142772,-82.944113,1,1274.952690,0,0.0,0,0,0,0,,,
153,40.121427,-82.836197,1,163.109340,0,15.2,2,0,0,0,,,
154,39.940655,-82.958380,2,5258.025940,1,5.5,3,0,1,1,,,
155,40.098818,-82.884473,1,277.690391,0,12.6,2,0,0,0,,,
156,39.964237,-82.802623,2,5479.536990,0,18.3,3,0,0,0,,,
157,39.919051,-83.119845,2,821.162612,0,5.2,3,0,0,0,,,
158,39.960765,-83.179658,1,103.119816,0,5.2,3,0,0,0,,,

In [0]:
cols_to_norm = ['Pop_Den','Tornado Distance']
data[cols_to_norm] = data[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [0]:
x = data.iloc[:, :7]
y = data.iloc[:, 7]

In [0]:
x['Pop_Den'] = x['Pop_Den'].fillna((x['Pop_Den'].mean()))

In [0]:
x['POI_TYPE'] = x['POI_TYPE'].replace('None', (x['POI_TYPE'].mode())[0])

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.1, random_state=42)

In [0]:
X_train, X_val, Y_train, Y_val = train_test_split(X_train, Y_train, test_size=0.1, random_state=42)

In [11]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', C=400, max_iter=200)
model.fit(X_train, Y_train)
model.score(X_train, Y_train)

0.8110236220472441

In [12]:
model.score(X_val, Y_val)

0.8666666666666667

In [13]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X_train, Y_train)
neigh.score(X_train, Y_train)

0.8740157480314961

In [14]:
neigh.score(X_val, Y_val)

0.8

In [26]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-6, hidden_layer_sizes=(150, 100, 50, 25), random_state=42, learning_rate = 'invscaling')
clf.fit(X_train, Y_train)
clf.score(X_train, Y_train)

0.8267716535433071

In [27]:
clf.score(X_val, Y_val)

0.8666666666666667

In [29]:
model.score(X_test, Y_test)

0.875

In [17]:
model.score(x, y)

0.8227848101265823

In [19]:
sheet_2 = spreadsheet.get_worksheet(3)
new_points = pd.DataFrame(sheet_2.get_all_values())
new_points.columns = new_points.iloc[0]
new_points = new_points.reindex(new_points.index.drop(0))
new_points = new_points.convert_objects(convert_numeric=True)
new_x = new_points[80:180].iloc[:, :7]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """

In [0]:
new_x[cols_to_norm] = new_x[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [21]:
model.predict(new_x)

array([0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])