In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [89]:
current_df = pd.read_csv("Data/DFTrainTest.csv")
current_df

,Latitude (X),Longitude (Y),POI_TYPE,Pop_Den,Cam_Present,Tornado Distance,Tornado Magnitude,Classification (Output)
0,40.057068,-82.885518,2,5597.148387,NaN,12.6,2,1
1,39.974166,-83.028720,2,1595.315173,NaN,5.5,3,1
2,39.963572,-83.002500,1,2293.418377,NaN,5.5,3,1
3,39.975215,-83.006780,2,8978.701876,NaN,5.5,3,1
4,40.073967,-83.131485,2,3753.776372,NaN,13.1,2,1
5,39.972424,-82.904900,2,5786.394916,NaN,5.5,3,1
6,39.928299,-83.089981,2,3089.334200,NaN,5.2,3,1
7,40.020989,-83.061440,0,3286.357958,NaN,13.1,2,1
8,39.954532,-82.877042,2,4466.053029,NaN,5.5,3,1
9,39.888206,-82.885900,2,2479.687276,NaN,18.3,3,1
10,40.051822,-83.047551,2,8743.921438,NaN,13.1,2,1
11,40.060183,-82.905527,2,2667.680378,NaN,12.6,2,1
12,40.048983,-82.913168,2,402.077235,NaN,12.6,2,1
13,40.006040,-83.014194,2,15838.073420,NaN,5.5,3,1
14,39.993152,-83.015844,2,15668.045000,NaN,5.5,3,1
15,39.994242,-83.005445,2,19315.493410,NaN,5.5,3,1
16,39.997764,-83.032384,0,768.958152,NaN,0.0,0,1
17,39.997845,-83.032384,0,768.958152,NaN,0.0,0,1
18,39.970589,-83.002668,2,2293.418377,NaN,5.5,3,1
19,39.966683,-83.015800,2,3667.444627,NaN,5.5,3,1
20,39.972066,-82.905333,2,5786.394916,NaN,5.5,3,1
21,39.985017,-82.870525,2,905.728585,NaN,5.5,3,1
22,40.049820,-82.914545,2,402.077235,NaN,12.6,2,1
23,40.057195,-82.927865,2,6425.167231,NaN,0.0,0,1
24,39.975580,-83.003724,2,8978.701876,NaN,5.5,3,1
25,39.926479,-83.123901,2,821.162612,NaN,5.2,3,1
26,39.994240,-82.943837,2,856.879046,NaN,5.5,3,1
27,39.994649,-82.942193,1,856.879046,NaN,5.5,3,1
28,39.979320,-83.002931,2,6861.420709,NaN,5.5,3,1
29,40.088908,-83.000372,2,1099.410207,NaN,13.1,2,1
...,...,...,...,...,...,...,...,...
128,39.854334,-83.262356,None,34.424142,NaN,5.2,3,0
129,39.985593,-83.341722,None,66.533534,NaN,24.7,2,0
130,39.987827,-83.622441,None,NaN,NaN,30.4,3,0
131,39.801799,-83.406912,None,35.728819,NaN,21.6,3,0
132,40.088667,-83.201497,None,467.614221,NaN,13.1,2,0
133,40.143335,-83.266344,None,185.659814,NaN,13.1,2,0
134,39.901158,-83.005745,1,709.914237,NaN,5.5,3,0
135,39.926603,-83.633282,None,NaN,NaN,36.8,5,0
136,39.977092,-82.858315,1,1178.302019,NaN,5.5,3,0
137,40.165675,-83.141970,None,958.618493,NaN,13.1,2,0
138,40.073647,-83.095426,1,10230.059360,NaN,13.1,2,0
139,39.822452,-83.155131,None,193.434218,NaN,0.0,0,0
140,40.215983,-83.504591,None,NaN,NaN,0.0,0,0
141,40.175139,-83.566735,None,NaN,NaN,0.0,0,0
142,39.802743,-83.209487,None,63.657556,NaN,0.0,0,0
143,40.149614,-82.904289,None,2328.089521,NaN,0.0,0,0
144,39.871155,-83.530530,None,94.447604,NaN,21.6,3,0
145,39.868526,-82.981831,1,756.259673,NaN,0.0,0,0
146,40.030109,-83.480311,None,38.630838,NaN,21.6,3,0
147,40.133578,-83.155801,0,2267.540911,NaN,13.1,2,0
148,40.327543,-83.381928,None,51.262280,NaN,0.0,0,0
149,40.049264,-83.564022,None,NaN,NaN,30.4,3,0
150,40.305105,-83.271962,None,53.892939,NaN,29.7,2,0
151,39.727388,-83.080297,None,94.801999,NaN,0.0,0,0
152,40.120177,-83.166582,0,3278.243495,NaN,13.1,2,0
153,40.144309,-82.998213,0,1694.036942,NaN,13.1,2,0
154,39.993738,-83.288163,None,66.533534,NaN,24.7,2,0
155,40.228429,-83.388750,None,6352.950300,NaN,0.0,0,0
156,40.179651,-83.349801,None,74.816161,NaN,0.0,0,0
157,39.902269,-83.615179,None,NaN,NaN,36.8,5,0

In [90]:
camera_df = pd.read_csv("Data/Police_Crime_Cameras.csv")
camera_df.dropna(axis=0, inplace=True)
camera_df

,X,Y,OBJECTID,CAMERA_ID,CAM_DESC,TYPE,LATITUDE,LONGITUDE
0,-82.971216,39.943516,1026,461,E WHITTIER ST BETWEEN OHIO AND CHAMPION,LIVINGSTON,39.943509,-82.971212
1,-82.958077,39.949044,1033,496,E LIVINGSTON AVE / LILLEY AVE,LIVINGSTON,39.949036,-82.958072
2,-83.064391,39.955499,1038,531,W BROAD ST / S WAYNE AVE,HILLTOP,39.955491,-83.064386
3,-83.000410,39.989270,689,111,WEINLAND PARK ELEM SCHOOL - PTZ,WEINLAND PARK,39.989263,-83.000405
4,-83.007495,39.994205,695,171,ALLEY WEST OF HIGH ON 10TH AVE,WEINLAND PARK,39.994197,-83.007491
5,-82.979904,39.995297,701,231,CHITTENDEN AVE & CLEVELAND AVE,LINDEN,39.995290,-82.979900
6,-82.970112,40.009441,704,261,MAYNARD & CLEVELAND AVE,LINDEN,40.009433,-82.970108
7,-82.967573,40.013592,705,271,E HUDSON ST & CLEVELAND AVE,LINDEN,40.013584,-82.967569
8,-82.961436,40.013523,706,281,E HUDSON ST & JOYCE AVE,LINDEN,40.013515,-82.961432
9,-82.956381,40.013271,707,291,E HUDSON ST & PARKWOOD AVE,LINDEN,40.013264,-82.956377
10,-82.976721,40.014143,708,292,E HUDSON ST & ONTARIO ST,LINDEN,40.014136,-82.976717
11,-82.980460,39.967434,710,311,750 E LONG ST,MT VERNON,39.967426,-82.980456
12,-82.973501,39.968216,712,331,E LONG ST / N 20TH ST,MT VERNON,39.968208,-82.973497
13,-82.968277,39.968630,713,341,E LONG ST / N CHAMPION AVE,MT VERNON,39.968622,-82.968273
14,-82.973461,39.972247,714,361,MT VERNON AVE / N 20TH ST,MT VERNON,39.972239,-82.973456
15,-82.979443,39.970944,715,351,MT VERNON AVE & N MONROE AVE (KINGS ARTS COMPLEX),MT VERNON,39.970936,-82.979439
16,-82.972101,39.949866,716,411,E LIVINGSTON AVE BETWEEN S 2NND ST & S OHIO AVE,LIVINGSTON,39.949859,-82.972096
17,-82.982341,39.945733,718,431,PARSONS AVE / KOSSUTH ST: WEST OF,LIVINGSTON,39.945725,-82.982337
18,-82.982887,39.944095,719,441,E WHITTIER ST / PARSONS AVE,LIVINGSTON,39.944087,-82.982883
19,-82.975439,39.943847,720,451,E WHITTIER ST / CARPENTER ST,LIVINGSTON,39.943839,-82.975435
20,-82.967684,39.943340,1009,494,E WHITTIER ST / WILSON AVE,LIVINGSTON,39.943332,-82.967679
21,-83.070766,39.943937,1010,541,S WARREN AVE / SULLIVANT AVE,HILLTOP,39.943930,-83.070762
22,-83.060250,39.946095,1012,561,S HIGHLAND AVE / SULLIVANT AVE,HILLTOP,39.946087,-83.060246
23,-83.058547,39.946412,1013,571,CLARENDON AVE / SULLIVANT AVE,HILLTOP,39.946405,-83.058543
24,-82.961908,39.949376,717,421,E LIVINGSTON AVE / MILLER AVE,LIVINGSTON,39.949369,-82.961904
25,-83.063672,39.945280,1011,551,SULLIVANT AVE / S WAYNE AVE,HILLTOP,39.945272,-83.063668
26,-83.009706,39.965243,1330,621,NORTHBANK PARK EVENT BLDG EAST,DOWNTOWN,39.965232,-83.009713
27,-83.007008,39.961931,1331,681,GENOA PARK N/O W BROAD ST,DOWNTOWN,39.961923,-83.007003
28,-83.003611,39.968989,1332,696,NATIONWIDE BLVD / N FRONT ST; NEC,DOWNTOWN,39.968982,-83.003606
29,-82.953224,40.055035,1333,711,CLEVELAND AVE / BELCHER DR,FAR NORTH,40.055027,-82.953220
...,...,...,...,...,...,...,...,...
45,-83.000452,39.962108,1349,695,E BROAD ST / S HIGH ST,DOWNTOWN,39.962100,-83.000448
46,-83.008081,39.964848,1350,611,NORTHBANK PARK UNDER THE RR TRESSEL BRIDGE,DOWNTOWN,39.964840,-83.008076
47,-83.005551,39.959118,1351,693,WASHINGTON BLVD SOUTH,DOWNTOWN,39.959110,-83.005547
48,-83.010007,39.965800,1352,651,NORTHBANK PARK W SPRING ST / NEIL AVE; SWC,DOWNTOWN,39.965792,-83.010003
49,-82.981335,40.014324,1022,293,E HUDSON ST / MCGUFFEY RD,LINDEN,40.014317,-82.981331
50,-82.977851,39.997273,1023,294,CLEVELAND AVE / E 13TH AVE (BETWEEN 13TH & WIN...,LINDEN,39.997265,-82.977847
51,-82.972563,40.005402,1024,295,CLEVELAND AVE / E 23RD AVE,LINDEN,40.005394,-82.972559
52,-82.964224,39.973687,1025,371,MT VERNON AVE / GRAHAM ST,MT VERNON,39.973680,-82.964220
53,-82.954993,39.951807,1027,471,KENT ST / SEYMOUR AVE,LIVINGSTON,39.951799,-82.954989
54,-82.954193,39.948992,1028,481,FAIRWOOD AVE / E LIVINSTON AVE: W/O,LIVINGSTON,39.948984,-82.954189
55,-82.970080,39.957934,1029,491,E MAIN ST BETWEEN S CHAMPION AVE AND OHIO AVE,LIVINGSTON,39.957926,-82.970075
56,-82.972260,39.959146,1030,492,E RICH ST / S 22ND ST: NWC,LIVINGSTON,39.959138,-82.972256
57,-82.957482,39.957686,1031,493,E MAIN ST / LILLEY AVE,LIVINGSTON,39.957678,-82.957478
58,-82.951956,39.948707,1032,495,E LIVINGSTON AVE / BULEN AVE,LIVINGSTON,39.948700,-82.951951
59,-82.968885,39.943401,1034,497,E WHITTIER ST BETWEEN OAKWOOD & WILSON,LIVINGSTON,39.943393,-82.968881
60,-82.964826,39.927693,1035,498,LOCKBOURNE RD / SMITH RD: NEC,LIVINGSTON,39.927685,-82.964822
61,-83.067263,39.955193,1036,511,W BROAD ST / S TERRACE AVE: SWC,HILLTOP,39.955185,-83.067259
62,-83.061934,39.955441,1037,521,W BROAD ST / S WHEATLAND AVE : SEC,HILLTOP,39.955433,-83.061930
63,-82.978588,39.967614,1329,321,E LONG ST / N MONROE AVE,MT VERNON,39.967606,-82.978584
64,-82.999198,39.991637,690,121,E 8TH AVE / N 4TH ST - PTZ,WEINLAND PARK,39.991629,-82.999194
65,-83.003190,39.992119,691,131,E 8TH AVE / INDIANOLA AVE - PTZ,WEINLAND PARK,39.992111,-83.003186
66,-82.999198,39.994344,692,141,E 11TH AVE / N 4TH ST - PTZ,WEINLAND PARK,39.994336,-82.999193
67,-83.002559,39.990838,693,151,PETERS AL BETWEEN E 7TH AVE AND E 8TH AVE,WEINLAND PARK,39.990830,-83.002555
68,-83.002539,39.990144,694,161,PETERS AL / E 7TH AVE,WEINLAND PARK,39.990136,-83.002535
69,-83.001803,39.988851,696,181,SUMMIT ST / E 6TH AVE - SEC,WEINLAND PARK,39.988843,-83.001799
70,-83.000310,39.994553,698,192,248 E 11TH AVE - POLICE SUBSTATION,WEINLAND PARK,39.994545,-83.000306
71,-82.981001,39.986197,699,211,E 5TH AVE & PETERS AVE,LINDEN,39.986189,-82.980997
72,-82.981556,39.993633,700,221,E 11TH AVE & CLEVELAND AVE,LINDEN,39.993625,-82.981551
73,-82.976464,39.998839,702,241,E 15TH AVE & CLEVELAND AVE - CFD STATION 18,LINDEN,39.998831,-82.976460
74,-82.975126,40.001374,703,251,E 18TH AVE & CLEVELAND AVE,LINDEN,40.001366,-82.975121

In [91]:
from math import sin, cos, sqrt, atan2, radians

# approximate radius of earth in km
def distanceBetweenPoints(lat1, lon1, lat2, lon2):
    R = 6373.0

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c

    return distance

In [115]:
for index, row in current_df.iterrows():
    for index2, row2 in camera_df.iterrows():
        current_df.set_value(index, 'Cam_Present', 0)
        if distanceBetweenPoints(row2['LATITUDE'], row2['LONGITUDE'], row['Latitude (X)'], row['Longitude (Y)']) < 1:
            current_df.set_value(index, 'Cam_Present', 1)
            break

/Users/avinash/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/avinash/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [116]:
current_df['Cam_Present'].sum()

26.0

In [117]:
current_df.to_csv("Data/DFTrainTestModified.csv", sep=',')