In [1]:
import numpy as np
import pandas as pd

In [2]:
"""
Looking at population density and distribution of people

Dataset:
Base Zoning: http://opendata.columbus.gov/datasets/96f7642a62f84db997f9e1db4a776995_4
    - Can look at zoning to see which locations are more populated
    
BZA Zoning Variances: http://opendata.columbus.gov/datasets/19786dd084e644a4aea6b33f867dd631_1
    - More Zoning?
    
Recommended Land Use: http://opendata.columbus.gov/datasets/26f0606f94db4c07a63aef3cc8927c9b_21
    - Where we can build charging stations?
    
Population Density Map: https://apps.morpc.org/census2010/

API to convert Lat/Long to census block
    - https://geo.fcc.gov/api/census/#!/area/get_area
    
Conversion for GEOIDs
    - https://www.census.gov/geo/reference/codes/cou.html
    - https://www.census.gov/geo/reference/geoidentifiers.html (General info on how it's generated)
    - https://geoservices.tamu.edu/Services/CensusIntersection/ (Lat/Long to Census block)
        - Current GeoID = STATE+COUNTY+TRACT+BLOCK GROUP = 2+3+6+1=12
    
CountryCode + Lat/Long?
    - https://www.census.gov/geo/maps-data/data/gazetteer2017.html

# TODO: 
- Find more granularity in terms of where people are located (parse GEOID more)
- Visualize population density
- Predicted population through 2019?
- Visualize population density changes over the years?

""";

In [3]:
census_data = pd.read_excel("Data/Columbus_Population.xlsx").iloc[:,0:2]
census_data.head()

          GEOID  2010 Total Population
0  390410101003                   2258
1  390410102002                   1002
2  390410102003                   2692
3  390410102004                    927
4  390410105201                    229

In [4]:
tract_data = pd.read_excel("Data/census_tract_data.xlsx")
tract_data.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON
0,39,1,770100,39001770100,7701.0,Census Tract 7701,G5020,S,286773444,1535839,38.955893,-83.355611
1,39,1,770200,39001770200,7702.0,Census Tract 7702,G5020,S,222681673,102314,38.990975,-83.551834
2,39,1,770300,39001770300,7703.0,Census Tract 7703,G5020,S,389162277,170790,38.840331,-83.581527
3,39,1,770400,39001770400,7704.0,Census Tract 7704,G5020,S,96475789,242467,38.771614,-83.544515
4,39,1,770500,39001770500,7705.0,Census Tract 7705,G5020,S,394801572,1580113,38.750783,-83.364663

In [5]:
### For each GEOID in census_data, get the latitude, longitude, and how large that area is of that GEOID

def geoidToTractLatLong(geoid):
    tractCode = int(geoid / 10)
    return tract_data[tract_data["GEOID"] == tractCode][["ALAND", "INTPTLAT", "INTPTLON"]]

geoids = census_data.iloc[:,0]
tractRows = geoids.apply(geoidToTractLatLong) #An array of DF rows

In [6]:
### Combine all county data, add it to census_data
tract_df = pd.DataFrame()
for tract in tractRows:
    tract_df = tract_df.append(tract, ignore_index=True)
    
ohio_population_data = census_data.join(tract_df).rename(index=str, columns={"ALAND": "Area (units?)", "INTPTLAT":"Latitude", "INTPTLON":"Longitude"})

In [7]:
ohio_population_data

             GEOID  2010 Total Population  Area (units?)   Latitude  Longitude
0     390410101003                   2258        2818578  40.301765 -83.072690
1     390410102002                   1002       12847187  40.308146 -83.051833
2     390410102003                   2692       12847187  40.308146 -83.051833
3     390410102004                    927       12847187  40.308146 -83.051833
4     390410105201                    229       11356446  40.287397 -83.108405
5     390410105203                   2244       11356446  40.287397 -83.108405
6     390410105301                   1601        2547068  40.284814 -83.073771
7     390410105302                   1616        2547068  40.284814 -83.073771
8     390410111021                   2485      160932374  40.316751 -82.867943
9     390410111022                   2432      160932374  40.316751 -82.867943
10    390410114111                   1108        4736940  40.145589 -83.140505
11    390410114112                   1793        4736940  40.145589 -83.140505
12    390410114121                   2859       12508507  40.171610 -83.149512
13    390410114122                   1658       12508507  40.171610 -83.149512
14    390410114131                   1285       43811521  40.208613 -83.135694
15    390410114132                   2842       43811521  40.208613 -83.135694
16    390410114133                   1163       43811521  40.208613 -83.135694
17    390410114134                   1285       43811521  40.208613 -83.135694
18    390410114211                   1912        9310826  40.148041 -83.061313
19    390410114212                   1676        9310826  40.148041 -83.061313
20    390410114213                   1303        9310826  40.148041 -83.061313
21    390410114214                   1894        9310826  40.148041 -83.061313
22    390410114231                   2551       14501991  40.176876 -83.065733
23    390410114232                   2831       14501991  40.176876 -83.065733
24    390410114233                    961       14501991  40.176876 -83.065733
25    390410114301                   1317        6016052  40.151610 -83.114418
26    390410115201                   2588        5497563  40.165985 -83.023767
27    390410115202                    980        5497563  40.165985 -83.023767
28    390410115301                   2354        2375179  40.166073 -83.000277
29    390410115401                   1733        9773759  40.165155 -82.969375
...            ...                    ...            ...        ...        ...
1459  390410101002                   1721        2818578  40.301765 -83.072690
1460  390410101001                   1277        2818578  40.301765 -83.072690
1461  390410112002                    881       93116445  40.380767 -83.072952
1462  390410112001                   2395       93116445  40.380767 -83.072952
1463  390410104222                    772        6212694  40.318286 -83.104562
1464  390410104201                    556        3568254  40.319071 -83.080823
1465  390410104202                   2370        3568254  40.319071 -83.080823
1466  390410102001                    859       12847187  40.308146 -83.051833
1467  390410105202                   2742       11356446  40.287397 -83.108405
1468  390410116042                   2343       52853252  40.254939 -82.902983
1469  390410115402                   2067        9773759  40.165155 -82.969375
1470  390410115403                   1747        9773759  40.165155 -82.969375
1471  390410117503                   2815       24656447  40.191189 -82.915374
1472  390410117401                   2366        5845939  40.161008 -82.890674
1473  390410117302                   2325        7149459  40.164930 -82.912148
1474  390410117103                   2421        5749578  40.138951 -82.906142
1475  390410104221                   2374        6212694  40.318286 -83.104562
1476  390410115603                   2161       39267014  40.232631 -82.962209
1477  390410117301                   2264        7149459  40.164930 -82.912148
1478  390410115302                   1258        2375179  40.166073 -83.000277
1479  390410115612                   2287        7259897  40.143671 -83.025461
1480  390410116041                   2846       52853252  40.254939 -82.902983
1481  390410114302                   1490        6016052  40.151610 -83.114418
1482  390970401012                   1186      150124312  40.069177 -83.381090
1483  390970401011                   1096      150124312  40.069177 -83.381090
1484  390970401022                   1520       62146478  40.074804 -83.261216
1485  390970401021                   3571       62146478  40.074804 -83.261216
1486  391010105002                   1325      168461193  40.481236 -83.093306
1487  391010105003                   1457      168461193  40.481236 -83.093306
1488  391010105001                   1536      168461193  40.481236 -83.093306

[1489 rows x 5 columns]

In [8]:
county_data = pd.read_excel("Data/Ohio_GEOID_Conversion.xlsx").iloc[:,1:4]
county_data.head()

   GEOID  ANSICODE              NAME
0  39001   1074014      Adams County
1  39003   1074015      Allen County
2  39005   1074016    Ashland County
3  39007   1074017  Ashtabula County
4  39009   1074018     Athens County

In [9]:
def geoidToCountyLatLong(geoid):
    countyCode = int(geoid / 10000000)
    return county_data[county_data["GEOID"] == countyCode][["NAME"]]

countyRows = geoids.apply(geoidToCountyLatLong)
county_df = pd.DataFrame()
for county in countyRows:
    county_df = county_df.append(county, ignore_index=True)

In [10]:
ohio_population_data["CountyName"] = county_df

In [11]:
ohio_population_data

,GEOID,2010 Total Population,Area (units?),Latitude,Longitude,CountyName
0,390410101003,2258,2818578,40.301765,-83.072690,NaN
1,390410102002,1002,12847187,40.308146,-83.051833,NaN
2,390410102003,2692,12847187,40.308146,-83.051833,NaN
3,390410102004,927,12847187,40.308146,-83.051833,NaN
4,390410105201,229,11356446,40.287397,-83.108405,NaN
5,390410105203,2244,11356446,40.287397,-83.108405,NaN
6,390410105301,1601,2547068,40.284814,-83.073771,NaN
7,390410105302,1616,2547068,40.284814,-83.073771,NaN
8,390410111021,2485,160932374,40.316751,-82.867943,NaN
9,390410111022,2432,160932374,40.316751,-82.867943,NaN
10,390410114111,1108,4736940,40.145589,-83.140505,NaN
11,390410114112,1793,4736940,40.145589,-83.140505,NaN
12,390410114121,2859,12508507,40.171610,-83.149512,NaN
13,390410114122,1658,12508507,40.171610,-83.149512,NaN
14,390410114131,1285,43811521,40.208613,-83.135694,NaN
15,390410114132,2842,43811521,40.208613,-83.135694,NaN
16,390410114133,1163,43811521,40.208613,-83.135694,NaN
17,390410114134,1285,43811521,40.208613,-83.135694,NaN
18,390410114211,1912,9310826,40.148041,-83.061313,NaN
19,390410114212,1676,9310826,40.148041,-83.061313,NaN
20,390410114213,1303,9310826,40.148041,-83.061313,NaN
21,390410114214,1894,9310826,40.148041,-83.061313,NaN
22,390410114231,2551,14501991,40.176876,-83.065733,NaN
23,390410114232,2831,14501991,40.176876,-83.065733,NaN
24,390410114233,961,14501991,40.176876,-83.065733,NaN
25,390410114301,1317,6016052,40.151610,-83.114418,NaN
26,390410115201,2588,5497563,40.165985,-83.023767,NaN
27,390410115202,980,5497563,40.165985,-83.023767,NaN
28,390410115301,2354,2375179,40.166073,-83.000277,NaN
29,390410115401,1733,9773759,40.165155,-82.969375,NaN
...,...,...,...,...,...,...
1459,390410101002,1721,2818578,40.301765,-83.072690,NaN
1460,390410101001,1277,2818578,40.301765,-83.072690,NaN
1461,390410112002,881,93116445,40.380767,-83.072952,NaN
1462,390410112001,2395,93116445,40.380767,-83.072952,NaN
1463,390410104222,772,6212694,40.318286,-83.104562,NaN
1464,390410104201,556,3568254,40.319071,-83.080823,NaN
1465,390410104202,2370,3568254,40.319071,-83.080823,NaN
1466,390410102001,859,12847187,40.308146,-83.051833,NaN
1467,390410105202,2742,11356446,40.287397,-83.108405,NaN
1468,390410116042,2343,52853252,40.254939,-82.902983,NaN
1469,390410115402,2067,9773759,40.165155,-82.969375,NaN
1470,390410115403,1747,9773759,40.165155,-82.969375,NaN
1471,390410117503,2815,24656447,40.191189,-82.915374,NaN
1472,390410117401,2366,5845939,40.161008,-82.890674,NaN
1473,390410117302,2325,7149459,40.164930,-82.912148,NaN
1474,390410117103,2421,5749578,40.138951,-82.906142,NaN
1475,390410104221,2374,6212694,40.318286,-83.104562,NaN
1476,390410115603,2161,39267014,40.232631,-82.962209,NaN
1477,390410117301,2264,7149459,40.164930,-82.912148,NaN
1478,390410115302,1258,2375179,40.166073,-83.000277,NaN
1479,390410115612,2287,7259897,40.143671,-83.025461,NaN
1480,390410116041,2846,52853252,40.254939,-82.902983,NaN
1481,390410114302,1490,6016052,40.151610,-83.114418,NaN
1482,390970401012,1186,150124312,40.069177,-83.381090,NaN
1483,390970401011,1096,150124312,40.069177,-83.381090,NaN
1484,390970401022,1520,62146478,40.074804,-83.261216,NaN
1485,390970401021,3571,62146478,40.074804,-83.261216,NaN
1486,391010105002,1325,168461193,40.481236,-83.093306,NaN
1487,391010105003,1457,168461193,40.481236,-83.093306,NaN
1488,391010105001,1536,168461193,40.481236,-83.093306,NaN