In [1]:
import numpy as np
import pandas as pd

In [2]:
"""
Looking at population density and distribution of people

Dataset:
Base Zoning: http://opendata.columbus.gov/datasets/96f7642a62f84db997f9e1db4a776995_4
    - Can look at zoning to see which locations are more populated
    
BZA Zoning Variances: http://opendata.columbus.gov/datasets/19786dd084e644a4aea6b33f867dd631_1
    - More Zoning?
    
Recommended Land Use: http://opendata.columbus.gov/datasets/26f0606f94db4c07a63aef3cc8927c9b_21
    - Where we can build charging stations?
    
Population Density Map: https://apps.morpc.org/census2010/

API to convert Lat/Long to census block
    - https://geo.fcc.gov/api/census/#!/area/get_area
    
Conversion for GEOIDs
    - https://www.census.gov/geo/reference/codes/cou.html
    - https://www.census.gov/geo/reference/geoidentifiers.html (General info on how it's generated)
    - https://geoservices.tamu.edu/Services/CensusIntersection/ (Lat/Long to Census block)
        - Current GeoID = STATE+COUNTY+TRACT+BLOCK GROUP = 2+3+6+1=12
    
CountryCode + Lat/Long?
    - https://www.census.gov/geo/maps-data/data/gazetteer2017.html

# TODO: 
- See if there is lat/longitude data for a block group, right now have data for census tract group
- Visualize population density
- Predicted population through 2019?
- Visualize population density changes over the years?

""";

In [3]:
census_data = pd.read_excel("Data/Columbus_Population.xlsx").iloc[:,0:2]
census_data.head()

          GEOID  2010 Total Population
0  390410101003                   2258
1  390410102002                   1002
2  390410102003                   2692
3  390410102004                    927
4  390410105201                    229

In [4]:
tract_data = pd.read_excel("Data/census_tract_data.xlsx")
tract_data.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON
0,39,1,770100,39001770100,7701.0,Census Tract 7701,G5020,S,286773444,1535839,38.955893,-83.355611
1,39,1,770200,39001770200,7702.0,Census Tract 7702,G5020,S,222681673,102314,38.990975,-83.551834
2,39,1,770300,39001770300,7703.0,Census Tract 7703,G5020,S,389162277,170790,38.840331,-83.581527
3,39,1,770400,39001770400,7704.0,Census Tract 7704,G5020,S,96475789,242467,38.771614,-83.544515
4,39,1,770500,39001770500,7705.0,Census Tract 7705,G5020,S,394801572,1580113,38.750783,-83.364663

In [5]:
### For each GEOID in census_data, get the latitude, longitude, and how large that area is of that GEOID

def geoidToTractLatLong(geoid):
    tractCode = int(geoid / 10)
    return tract_data[tract_data["GEOID"] == tractCode][["ALAND", "INTPTLAT", "INTPTLON"]]

geoids = census_data.iloc[:,0]
tractRows = geoids.apply(geoidToTractLatLong) #An array of DF rows

In [6]:
### Combine all county data, add it to census_data
tract_df = pd.DataFrame()
for tract in tractRows:
    tract_df = tract_df.append(tract, ignore_index=True)
    
ohio_population_data = census_data.join(tract_df).rename(index=str, columns={"ALAND": "Area (units?)", "INTPTLAT":"Latitude", "INTPTLON":"Longitude"})

In [7]:
ohio_population_data.head()

          GEOID  2010 Total Population  Area (units?)   Latitude  Longitude
0  390410101003                   2258        2818578  40.301765 -83.072690
1  390410102002                   1002       12847187  40.308146 -83.051833
2  390410102003                   2692       12847187  40.308146 -83.051833
3  390410102004                    927       12847187  40.308146 -83.051833
4  390410105201                    229       11356446  40.287397 -83.108405

In [8]:
# Now adding county name for each GEOID

county_data = pd.read_excel("Data/Ohio_GEOID_Conversion.xlsx").iloc[:,1:4]
county_data.head()

   GEOID  ANSICODE              NAME
0  39001   1074014      Adams County
1  39003   1074015      Allen County
2  39005   1074016    Ashland County
3  39007   1074017  Ashtabula County
4  39009   1074018     Athens County

In [9]:
def geoidToCountyLatLong(geoid):
    countyCode = int(geoid / 10000000)
    return county_data[county_data["GEOID"] == countyCode][["NAME"]]

countyRows = geoids.apply(geoidToCountyLatLong)
county_df = pd.DataFrame()
for county in countyRows:
    county_df = county_df.append(county, ignore_index=True)
    
ohio_population_data["CountyNames"] = pd.Series(county_df.NAME.values, index=ohio_population_data.index)

In [10]:
# Columbus is in Franklin County
grouped_population_data = ohio_population_data.groupby(["CountyNames"])
grouped_population_data.get_group("Franklin County")

,GEOID,2010 Total Population,Area (units?),Latitude,Longitude,CountyNames
181,390490001101,1080,1961593,40.058992,-83.012761,Franklin County
182,390490001102,857,1961593,40.058992,-83.012761,Franklin County
183,390490001103,648,1961593,40.058992,-83.012761,Franklin County
184,390490001104,759,1961593,40.058992,-83.012761,Franklin County
185,390490001201,789,2869095,40.051046,-83.023681,Franklin County
186,390490001202,1668,2869095,40.051046,-83.023681,Franklin County
187,390490001203,705,2869095,40.051046,-83.023681,Franklin County
188,390490002101,798,1706666,40.043815,-83.005098,Franklin County
189,390490002102,640,1706666,40.043815,-83.005098,Franklin County
190,390490002103,611,1706666,40.043815,-83.005098,Franklin County
191,390490002104,886,1706666,40.043815,-83.005098,Franklin County
192,390490002201,670,1945297,40.036988,-83.011331,Franklin County
193,390490002202,815,1945297,40.036988,-83.011331,Franklin County
194,390490002203,1058,1945297,40.036988,-83.011331,Franklin County
195,390490002204,1184,1945297,40.036988,-83.011331,Franklin County
196,390490003101,1145,1853717,40.036193,-82.993859,Franklin County
197,390490003102,1419,1853717,40.036193,-82.993859,Franklin County
198,390490003103,583,1853717,40.036193,-82.993859,Franklin County
199,390490003201,1233,1275684,40.038159,-82.983421,Franklin County
200,390490003202,1157,1275684,40.038159,-82.983421,Franklin County
201,390490003301,632,795833,40.027872,-82.985887,Franklin County
202,390490003302,961,795833,40.027872,-82.985887,Franklin County
203,390490003303,721,795833,40.027872,-82.985887,Franklin County
204,390490004101,1237,774459,40.028996,-83.019448,Franklin County
205,390490004102,1182,774459,40.028996,-83.019448,Franklin County
206,390490004201,674,1464562,40.027664,-83.006252,Franklin County
207,390490004202,986,1464562,40.027664,-83.006252,Franklin County
208,390490004203,696,1464562,40.027664,-83.006252,Franklin County
209,390490004204,783,1464562,40.027664,-83.006252,Franklin County
210,390490005001,916,1258898,40.020820,-83.008211,Franklin County
...,...,...,...,...,...,...
1038,390490098001,2243,107970219,39.856940,-83.185642,Franklin County
1039,390490098002,1263,107970219,39.856940,-83.185642,Franklin County
1040,390490098003,1762,107970219,39.856940,-83.185642,Franklin County
1041,390490098004,1477,107970219,39.856940,-83.185642,Franklin County
1042,390490099001,1499,2885858,40.100638,-82.989119,Franklin County
1043,390490100001,477,10503676,40.109941,-82.876062,Franklin County
1044,390490100002,297,10503676,40.109941,-82.876062,Franklin County
1045,390490100003,823,10503676,40.109941,-82.876062,Franklin County
1046,390490100004,2142,10503676,40.109941,-82.876062,Franklin County
1047,390490100005,1649,10503676,40.109941,-82.876062,Franklin County
1048,390490101001,1020,6570349,40.044336,-82.916867,Franklin County
1049,390490102001,7543,27242526,39.888160,-82.831004,Franklin County
1050,390490102002,4277,27242526,39.888160,-82.831004,Franklin County
1051,390490102003,2636,27242526,39.888160,-82.831004,Franklin County
1052,390490102004,1464,27242526,39.888160,-82.831004,Franklin County
1053,390490103001,2801,19587134,39.816420,-82.922770,Franklin County
1054,390490104001,3173,6190958,40.124659,-83.160748,Franklin County
1055,390490104002,2291,6190958,40.124659,-83.160748,Franklin County
1056,390490104003,2035,6190958,40.124659,-83.160748,Franklin County
1057,390490105001,1320,8348198,40.109838,-83.142749,Franklin County
1058,390490105002,2455,8348198,40.109838,-83.142749,Franklin County
1059,390490105003,2374,8348198,40.109838,-83.142749,Franklin County
1060,390490105004,1804,8348198,40.109838,-83.142749,Franklin County
1061,390490106011,1176,3637951,40.016328,-83.176942,Franklin County
1062,390490106012,3468,3637951,40.016328,-83.176942,Franklin County
1063,390490106021,1510,3544199,40.017651,-83.164327,Franklin County
1064,390490106022,2574,3544199,40.017651,-83.164327,Franklin County
1065,390490106023,2155,3544199,40.017651,-83.164327,Franklin County
1066,390490107001,1299,1393735,40.065995,-83.008360,Franklin County
1067,390499800001,2,11220972,39.993419,-82.888533,Franklin County