In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import folium
from folium import plugins
import matplotlib
import matplotlib.cm as cm
import shapefile
from shapely.geometry import shape, mapping, Point, Polygon
from zipfile import ZipFile
from io import BytesIO
import descartes

In [2]:
"""
Area is per square meter - https://www.census.gov/quickfacts/fact/note/US/LND110210

Looking at population density and distribution of people

Dataset:
Base Zoning: http://opendata.columbus.gov/datasets/96f7642a62f84db997f9e1db4a776995_4
    - Can look at zoning to see which locations are more populated
    
BZA Zoning Variances: http://opendata.columbus.gov/datasets/19786dd084e644a4aea6b33f867dd631_1
    - More Zoning?
    
Recommended Land Use: http://opendata.columbus.gov/datasets/26f0606f94db4c07a63aef3cc8927c9b_21
    - Where we can build charging stations?
    
Population Density Map: https://apps.morpc.org/census2010/

API to convert Lat/Long to census block
    - https://geo.fcc.gov/api/census/#!/area/get_area
    
Conversion for GEOIDs
    - https://www.census.gov/geo/reference/codes/cou.html
    - https://www.census.gov/geo/reference/geoidentifiers.html (General info on how it's generated)
    - https://geoservices.tamu.edu/Services/CensusIntersection/ (Lat/Long to Census block)
        - Current GeoID = STATE+COUNTY+TRACT+BLOCK GROUP = 2+3+6+1=12
    
CountryCode + Lat/Long?
    - https://www.census.gov/geo/maps-data/data/gazetteer2017.html

# TODO: 
- Find the units of block data
- Get better colors for density
- Predicted population through 2019?
- Visualize population density changes over the years?

""";

In [3]:
census_data = pd.read_excel("Data/Columbus_Population.xlsx").iloc[:,0:2]
geoids = census_data.iloc[:,0]
census_data.head()

          GEOID  2010 Total Population
0  390410101003                   2258
1  390410102002                   1002
2  390410102003                   2692
3  390410102004                    927
4  390410105201                    229

In [4]:
# Credit to http://andrewgaidus.com/Reading_Zipped_Shapefiles/

# Get files necessary for mapping out census blocks
zipFile = ZipFile("Data/ohio_tigerfiles.zip")
filenames = [y for y in sorted(zipFile.namelist()) for ending in ['dbf', 'prj', 'shp', 'shx'] if y.endswith(ending)] 
dbf, prj, shp, shx = [BytesIO(zipFile.read(filename)) for filename in filenames]

reader = shapefile.Reader(shp=shp, shx=shx, dbf=dbf)
attributes, geometry = [], []
field_names = [field[0] for field in reader.fields[1:]]  
for row in reader.shapeRecords():  
    geometry.append(shape(row.shape.__geo_interface__))
    attributes.append(dict(zip(field_names, row.record)))

In [5]:
# Put tigerfiles nto GeoDataFrame
gdf = gpd.GeoDataFrame(data = attributes, geometry = geometry)[["ALAND10", "GEOID10", "geometry"]]
gdf = gdf.rename(index=str, columns={"ALAND10": "Area", "GEOID10": "GEOID"})
gdf.GEOID = gdf.GEOID.astype(int)
gdf = gdf[gdf["GEOID"].isin(geoids)] # Only get data on GEOIDs that match census data above

# Latitude/Longitude ordering is switched, swap it back and add it as the "geometry" column
block_coord_array = []
for _, row in gdf.iterrows():
    row_coord_array = []
    for coord in mapping(row['geometry'])['coordinates'][0]:
        correct_coord = reversed(coord)
        row_coord_array.append(list(correct_coord))
    
    block_coord_array.append(row_coord_array)

In [6]:
# To be used for gettting GEOID data for a given lat/long
gdf_original = gdf.copy(deep=True)

gdf["geometry"] = pd.Series(block_coord_array, index=gdf.index)
gdf.head()

       Area         GEOID                                           geometry
0   5311368  390690003001  [[41.403124999999996, -84.13203], [41.403071, ...
1    798699  390690003003  [[41.363811, -84.151071], [41.363277, -84.1518...
2    562170  390690003004  [[41.38823, -84.14128699999999], [41.38827, -8...
3  61037940  390690002003  [[41.478784999999995, -84.228799], [41.47709, ...
4  14296034  390690004001  [[41.395795, -84.11472499999999], [41.39588399...

In [7]:
### For each GEOID in census_data, get polygon description and area of that block
def getMatchingGEOIDData(geoid):
    return gdf[gdf["GEOID"] == int(geoid)][["Area", "geometry"]]

blockRows = geoids.apply(getMatchingGEOIDData) #An array of DF rows

In [8]:
### Combine all block data, add it to census_data
block_df = pd.DataFrame()
for row in blockRows:
    block_df = block_df.append(row, ignore_index=True)
    
ohio_population_data = census_data.join(block_df)

In [9]:
# Now adding county name for each GEOID

county_data = pd.read_excel("Data/Ohio_GEOID_Conversion.xlsx").iloc[:,1:4]

def geoidToCountyLatLong(geoid):
    countyCode = int(geoid / 10000000)
    return county_data[county_data["GEOID"] == countyCode][["NAME"]]

countyRows = geoids.apply(geoidToCountyLatLong)
county_df = pd.DataFrame()
for county in countyRows:
    county_df = county_df.append(county, ignore_index=True)
    
ohio_population_data["CountyNames"] = pd.Series(county_df.NAME.values, index=ohio_population_data.index)

In [10]:
ohio_population_data = ohio_population_data.rename(index=str, columns={"Area": "Area (square miles)"})

# Convert square meters to square miles
ohio_population_data["Area (square miles)"] = ohio_population_data["Area (square miles)"] / 2589988
ohio_population_data.head(10)

,GEOID,2010 Total Population,Area (square miles),geometry,CountyNames
0,390410101003,2258,0.444847,"[[40.303889, -83.082549], [40.303813, -83.0823...",Delaware County
1,390410102002,1002,0.369116,"[[40.297744, -83.046934], [40.296802, -83.0467...",Delaware County
2,390410102003,2692,1.485314,"[[40.297655999999996, -83.046442], [40.2977, -...",Delaware County
3,390410102004,927,0.936026,"[[40.2826, -83.061833], [40.282747, -83.061826...",Delaware County
4,390410105201,229,2.287126,"[[40.267752, -83.11309299999999], [40.267989, ...",Delaware County
5,390410105203,2244,1.281641,"[[40.30179, -83.11734899999999], [40.302429, -...",Delaware County
6,390410105301,1601,0.315772,"[[40.281327, -83.069188], [40.280282, -83.0692...",Delaware County
7,390410105302,1616,0.667656,"[[40.2929, -83.082515], [40.293167, -83.081262...",Delaware County
8,390410111021,2485,33.599934,"[[40.339214999999996, -82.955354], [40.339469,...",Delaware County
9,390410111022,2432,28.536406,"[[40.280944, -82.830818], [40.280507, -82.8310...",Delaware County

In [ ]:
# Columbus is in Franklin County
grouped_population_data = ohio_population_data.groupby(["CountyNames"])
franklin_county_data = grouped_population_data.get_group("Franklin County")
franklin_county_data.head()

In [ ]:
# Calculate min and max values for density and area of blocks in franklin county
density_array = franklin_county_data["2010 Total Population"] / franklin_county_data["Area (square miles)"]

fc_max_density = max(density_array)
fc_min_density = min(density_array)
fc_max_area = franklin_county_data.max()["Area (square miles)"]
fc_min_area = franklin_county_data.min()["Area (square miles)"]

def areaToMapArea(area):
    # OldRange = (OldMax - OldMin)  
    oldRange = fc_max_area - fc_min_area
    
    # NewRange = (NewMax - NewMin)
    newRange = 1500
    
    # NewValue = (((OldValue - OldMin) * NewRange) / OldRange) + NewMin
    return (((area - franklin_county_data.min()["Area (square miles)"]) * newRange) / oldRange) + 100

In [ ]:
colors = matplotlib.colors.Normalize(vmin=fc_min_density, vmax=fc_max_density, clip=True)
mapper = cm.ScalarMappable(norm=colors, cmap=cm.cool)

map = folium.Map(
    location=[40.004955, -83.008636],
    zoom_start=12
)

# Returns tuple, first elem is density and is popup information of a given row
def getRowInfo(row):
    row_density = row["2010 Total Population"] / row["Area (square miles)"]
    popup = 'GEOID: ' + str(row["GEOID"]) + '\n' + 'Density: ' + str(row_density) + '\n' + 'Area: ' + str(row["Area (square miles)"])
    return (row_density, popup)

# For each row, add a circle in the map
for index, row in franklin_county_data.iterrows():
    ### My laptop can't run anything above ~650, will have to find solution online (cloud)
    if int(index) > 625:
        break
        
    rowInfo = getRowInfo(row)
    
    folium.Polygon(
        locations=row['geometry'],
        fill=True,
        color=matplotlib.colors.rgb2hex(mapper.to_rgba(rowInfo[0])),
        popup=rowInfo[1]
    ).add_to(map)
    
print("DISREGARD UNITS, still need to find out what they are")
map

In [ ]:
ohio_population_data.head()
export_ohio = gdf_original.to_csv(r'./Data/GeoidDataFrame.csv', index = False)

In [11]:
#test_data = pd.read_csv("./Data/Training.csv")
prediction_data = pd.read_csv("./Data/prediction.csv")

In [12]:
def pointToGeoid(long, lat):
    type1 = type(long)
    type2 = type(lat)
    assert(type1 == type2), "Parameters must be the same type"
    _pnts = []
    
    if (type1 == list):
        assert(len(long) == len(lat)), "Parameters must have same length"
        for i in range(len(long)):
            _pnts.append(Point(long[i], lat[i]))
    else:
        _pnts.append(Point(long, lat))
        
    pnts = gpd.GeoDataFrame(geometry=_pnts)
    for _, row in gdf_original.iterrows():
        if pnts.within(row.geometry)[0]:
            return row.GEOID
    
    return 0.0

def getGeoidPopulation(geoid):
    population = ohio_population_data[ohio_population_data['GEOID'] == int(geoid)]["2010 Total Population"]
    return population[0] if population.size == 1 else 0.0

def getGeoidArea(geoid):
    area = ohio_population_data[ohio_population_data['GEOID'] == int(geoid)]["Area (square miles)"]
    return area[0] if area.size == 1 else 0.0

def getGeoidCountyName(geoid):
    county = ohio_population_data[ohio_population_data['GEOID'] == int(geoid)]["CountyNames"]
    return county[0] if county.size == 1 else ""

# Returns copy of df with GEOID and data relevant to GEOID to df
# If lat long not associated with a GEOID, population and area = 0.0 and CountyName = "" 
# Precondition: df is a dataframe
def addGeoidColumns(df):
    assert('Longitude (Y)' in df.columns), "Cannot find longitude column"
    assert('Latitude (X)' in df.columns), "Cannot find latitude column"
    df_copy = df.copy(deep=False)
    
    geoidData = df_copy.apply(lambda x: pointToGeoid(x['Longitude (Y)'], x['Latitude (X)']), axis=1)
    df_copy = df_copy.assign(GEOID=geoidData.values)
    populationData = df_copy.apply(lambda x: getGeoidPopulation(x['GEOID']), axis=1)
    areaData = df_copy.apply(lambda x: getGeoidArea(x['GEOID']), axis=1)
    #countyData = df_copy.apply(lambda x: getGeoidCountyName(x['GEOID']), axis=1)
    df['Pop_Den'] = populationData / areaData
    
    return df

In [ ]:
modified = addGeoidColumns(test_data)
modified.head(15)

In [ ]:
for a in modified['Pop_Den']:
    print(a)

In [13]:
modified_pred = addGeoidColumns(prediction_data)
modified_pred.head()

,Latitude (X),Longitude (Y),POI_TYPE,Pop_Den,Cam_Present,Tornado Distance,Tornado Magnitude
0,39.916667,-83.250000,NaN,108.861347,NaN,5.2,3
1,39.966667,-82.933333,NaN,3970.728037,NaN,5.5,3
2,40.083333,-82.850000,NaN,2103.316412,NaN,12.6,2
3,40.083333,-82.783333,NaN,278.928053,NaN,12.6,2
4,40.100000,-83.116667,NaN,954.265642,NaN,13.1,2

In [14]:
modified_pred

,Latitude (X),Longitude (Y),POI_TYPE,Pop_Den,Cam_Present,Tornado Distance,Tornado Magnitude
0,39.916667,-83.250000,NaN,108.861347,NaN,5.2,3
1,39.966667,-82.933333,NaN,3970.728037,NaN,5.5,3
2,40.083333,-82.850000,NaN,2103.316412,NaN,12.6,2
3,40.083333,-82.783333,NaN,278.928053,NaN,12.6,2
4,40.100000,-83.116667,NaN,954.265642,NaN,13.1,2
5,40.133333,-82.833333,NaN,176.616850,NaN,15.2,2
6,39.916667,-82.800000,NaN,2791.394288,NaN,18.3,3
7,39.716667,-83.200000,NaN,63.657556,NaN,21.0,2
8,39.916667,-83.516667,NaN,94.447604,NaN,21.6,3
9,39.650000,-82.966667,NaN,295.568668,NaN,22.7,3
10,39.716667,-83.266667,NaN,331.967156,NaN,23.0,2
11,39.833333,-83.566667,NaN,15.149410,NaN,24.7,2
12,40.183333,-82.733333,NaN,147.729139,NaN,25.9,2
13,39.600000,-82.983333,NaN,33.706845,NaN,26.0,3
14,39.583333,-82.966667,NaN,528.773497,NaN,27.1,2
15,40.383333,-83.250000,NaN,54.817989,NaN,29.7,2
16,40.016667,-83.600000,NaN,NaN,NaN,30.4,3
17,39.916667,-82.500000,NaN,629.768420,NaN,30.4,3
18,40.033333,-82.450000,NaN,556.032960,NaN,31.0,2
19,40.416667,-83.016667,NaN,231.149884,NaN,31.7,2
20,40.166667,-82.716667,NaN,180.110331,NaN,31.9,3
21,40.083333,-82.416667,NaN,435.464803,NaN,35.0,2
22,40.233333,-82.483333,NaN,48.289497,NaN,35.5,2
23,39.483333,-83.566667,NaN,31.132838,NaN,35.8,2
24,40.500000,-83.183333,NaN,73.121388,NaN,36.4,2
25,39.783333,-83.716667,NaN,NaN,NaN,36.8,5
26,40.500000,-82.900000,NaN,291.742795,NaN,37.7,3
27,39.750000,-82.400000,NaN,NaN,NaN,38.2,2
28,40.433333,-82.933333,NaN,44.351667,NaN,38.4,2
29,40.350000,-83.550000,NaN,NaN,NaN,39.0,3
...,...,...,...,...,...,...,...
62,39.916667,-83.516667,NaN,94.447604,NaN,30.4,3
63,39.916667,-82.333333,NaN,NaN,NaN,30.4,3
64,40.100000,-82.366667,NaN,304.601662,NaN,31.0,2
65,40.466667,-82.833333,NaN,115.120173,NaN,31.7,2
66,40.233333,-82.183333,NaN,43.160971,NaN,31.9,3
67,40.066667,-82.250000,NaN,64.436208,NaN,35.0,2
68,40.166667,-82.266667,NaN,43.160971,NaN,35.5,2
69,39.700000,-83.283333,NaN,331.967156,NaN,35.8,2
70,40.500000,-83.083333,NaN,66.807892,NaN,36.4,2
71,39.916667,-83.600000,NaN,NaN,NaN,36.8,5
72,40.550000,-82.850000,NaN,1584.350574,NaN,37.7,3
73,39.750000,-82.266667,NaN,NaN,NaN,38.2,2
74,40.600000,-82.616667,NaN,NaN,NaN,38.4,2
75,40.350000,-83.550000,NaN,NaN,NaN,39.0,3
76,40.533333,-82.716667,NaN,75.624956,NaN,39.0,2
77,40.566667,-83.066667,NaN,44.002036,NaN,39.2,2
78,40.433333,-83.450000,NaN,33.198258,NaN,39.6,3
79,40.016667,-83.600000,NaN,NaN,NaN,39.9,3
80,39.500000,-83.400000,NaN,112.192244,NaN,41.3,3
81,39.533333,-83.433333,NaN,4916.433297,NaN,42.8,2
82,40.150000,-83.750000,NaN,NaN,NaN,43.7,2
83,40.116667,-82.016667,NaN,NaN,NaN,45.6,2
84,40.583333,-82.616667,NaN,NaN,NaN,45.6,2
85,40.233333,-82.133333,NaN,NaN,NaN,46.9,3
86,40.666667,-82.900000,NaN,38.633985,NaN,47.3,2
87,40.633333,-82.600000,NaN,NaN,NaN,47.9,2
88,40.666667,-82.850000,NaN,66.987619,NaN,48.2,2
89,40.633333,-82.516667,NaN,NaN,NaN,48.6,2
90,39.683333,-83.816667,NaN,NaN,NaN,48.8,2
91,40.533333,-82.333333,NaN,52.518178,NaN,49.7,2

In [15]:
modified_pred['Pop_Den'].isna().sum()

21